<h1 class="mb-3">Tags</h1>

<div class="d-flex justify-content-end mb-3">
  <%= link_to "â• New Tag", new_tag_path, class: "btn btn-primary" %>
</div>

<ul class="list-group">
  <% @tags.each do |t| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <%= link_to t.name, t %>
        <span class="badge text-bg-secondary ms-2"><%= t.challenges.count %></span>
      </div>
      <div class="d-flex gap-2">
        <%= link_to "Editar", edit_tag_path(t), class: "btn btn-sm btn-outline-primary" %>

        
        <%= button_to "Eliminar", t, method: :delete,
              form: { data: { turbo: false } },
              onclick: "return confirm('Â¿Eliminar este tag?');",
              class: "btn btn-sm btn-outline-danger" %>
      </div>
    </li>
  <% end %>
</ul>
